.item-row
  margin: 1rem
  padding: 1rem
  font-size: 1.25rem
  background: white
  color: tomato

  position: relative

  &:first-child
    margin-top: 0

  .delete
    position: absolute
    top: 1rem
    right: 1rem

  .tags
    overflow-x: auto
